@font-face {
  font-family: "Zelda";
  src: url("./fonts/zelda-dx-tt-brk/zeldadxt.ttf");
}
@font-face {
  font-family: "Chargen";
  src: url("./fonts/6809-chargen/6809 chargen.ttf");
}
@font-face {
  font-family: "Arcade";
  src: url("./fonts/arcade.ttf");
}

body {
  margin: 0;
  font-family: "Arcade", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
